@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.google.com/share?selection.family=Cal+Sans');

/* Configs gerais da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #8f42b3;
    color: #483d8b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 550;
}

/* ----------------------------------------------------------------------------- */

/* Cabeçalho / Header */
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    border-bottom: 0.4px solid #a584a3;
}

.cabecalho-imagem {
    width: 54px;
    height: 54px;
    border-radius: 25px;
}

.cabeçalho-menu {
    display: flex;
    gap: 24px;
}

.cabecalho-menu-opcao {
    color:rgb(237, 161, 247);
    font-weight: 550;
    font-size: 16px;
    transition: 200ms;
}

.cabecalho-menu-opcao:hover{
    color: rgb(255, 255, 255);
    font-size: 16.5px;
    transition: 200ms;
}

/* ----------------------------------------------------------------------------- */


/* Conteúdo da página */
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 32px;
}

.conteudo-secao-principal {
    background-color: rgb(245, 239, 245);
    border: none;
    border-radius: 25px;
    width: 805px;
    height: 285px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
}

.conteudo-secao-principal-titulo {
    padding-top: 32px;
    font-size: 62px;
}

.conteudo-secao-principal-paragrafo {
    font-size: 22px;
    width: 558px;
    margin: 0 auto;
}

.conteudo-secao-principal-formulario {
    padding-top: 4px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.conteudo-secao-principal-formulario-input {
    padding: 5px;
    background-color: #ffff;
    width: 448px;
    height: 38px;
    border: 2px solid #a97eaf;
    border-radius: 10px;
    color:#483d8b;
    font-size: 18px;
}

.conteudo-secao-principal-botao {
    background-color: #483d8b;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    padding: 6px 10px;
    border: 2px solid #3c2046;  
    transition: 200ms;
}

.conteudo-secao-principal-botao:hover {
    background-color: rgb(238, 151, 216);
    text-align: center;
    color: white;
    border: 2px solid #b664b6;
    border-radius: 6px;
    font-size: 20px;
    padding: 6px 10px;
    transition: 200ms;
}

.conteudo-secao-secundaria {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 805px;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
}

.conteudo-secao-secundaria-botao {
    background-color: rgb(255, 255, 255);
    font-size: 38px;
    color: #823396;
    border-radius: 10px;
    width: 430px;
    height: 62px;
    padding: 10px;
    box-shadow: 6px 6px 8px #211e22;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition:200ms;
}

.conteudo-secao-secundaria-botao:hover{
    background-color: rgb(238, 151, 216);
    font-size: 40px;
    color: #fcf0ff;
    border-radius: 12px;
    width: 480px;
    height: 72px;
    transition: 200ms;
}

.conteudo-secao-secundaria-paragrafo {
    color: #c585c1;
    font-size: 20px;
    opacity: 0%;
    transition: 200ms;
}

.conteudo-secao-secundaria:hover .conteudo-secao-secundaria-paragrafo {
    opacity: 100%;
    transition: 200ms;
}
/* ----------------------------------------------------------------------------- */

/* Rodapé / Footer */
.rodape {
    border-top: 0.4px solid #a584a3;
    color: rgb(245, 239, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.rodape-titulo {
    padding-top: 4px;
}

.rodape-texto {
    color: #f3c5f0;
    display: block;
    text-align: center;
    width: 814px;
    height: 40px;
    margin:0 auto
}

.rodape-opcao {
    color: #ff62e5;
    transition: 180ms;    
}

.rodape-opcao:hover {
    color: #fef9ff;
    transition: 180ms;
}