@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.google.com/share?selection.family=Cal+Sans');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #8f42b3;
    color: #483d8b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 550;
}

/* ----------------------------------------------------------------------------- */

/* Cabeçalho / Header */
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    border-bottom: 0.4px solid #a584a3;
}

.cabeçalho-menu {
    display: flex;
    gap: 24px;
}

.cabecalho-menu-opcao {
    color:rgb(237, 161, 247);
    font-weight: 550;
    font-size: 16px;
    transition: 200ms;
}

.cabecalho-menu-opcao:hover{
    color: rgb(255, 255, 255);
    font-size: 16.5px;
    transition: 200ms;
}

/* ----------------------------------------------------------------------------- */

/* Conteúdo da página */
.pagina {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.conteudo {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 32px;
    flex: 1;
}

.conteudo-primario {
    background-color: rgb(245, 239, 245);
    border: none;
    border-radius: 25px;
    width: 1105px;
    height: 485px;
    display: block;
    margin: 0 auto;
}

.secao-conteudo-primario {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secao-conteudo-primario-titulo {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
}

.secao-conteudo-primario-subtitulo {
    font-size: 25px;
    justify-content: center;
}

.conteudo-primario-paragrafo {
    justify-content: center;
    font-size: 34px;
    padding-top: 54px;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 995px;
    padding-bottom: 20px;
}

.conteudo-primario-botao {
    background-color: rgb(246, 215, 253);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
    color: #823396;
    display: block;
    border-radius: 10px;
    border: none;
    width: 580px;
    height: 70px;
    margin: 0 auto;
    box-shadow: 6px 6px 8px #211e22;
    transition:200ms;

    /* centralizar verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-primario-botao:hover {
    background-color: rgb(243, 153, 255);
    color: rgb(255, 255, 255);
    font-size: 42px;
    height: 76px;
    width: 616px;
    transition: 200ms;
}

/* ----------------------------------------------------------------------------- */

/* Rodapé / Footer */
.rodape {
    border-top: 0.4px solid #a584a3;
    color: rgb(245, 239, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.rodape-titulo {
    padding-top: 4px;
}

.rodape-texto {
    color: #f3c5f0;
    display: block;
    text-align: center;
    width: 814px;
    height: 40px;
    margin:0 auto;
    font-size: 95%;
}

.rodape-opcao {
    color: #ff62e5;
    transition: 180ms;    
}

.rodape-opcao:hover {
    color: #fef9ff;
    transition: 180ms;
}