<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musindie - Categorias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='categorias.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    </head>
<body>
    <header class="cabecalho">
        <img class="cabecalho-imagem" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo do Musindie">
        <nav class="cabeçalho-menu">
            <a class="cabecalho-menu-opcao" href="https://github.com/DavidOliveira2678/Musindie.git" target="_blank" rel="external">Repositório do GitHub</a>
            <a class="cabecalho-menu-opcao" href="/" target="_self">Página inicial</a>
            <a class="cabecalho-menu-opcao" href="/login" target="_self" rel="external">Cadastro</a>
        </nav>
    </header>

<div class="pagina">
    <main class="conteudo">
        <section class="conteudo-principal">
            <h1 class="conteudo-principal-titulo">Categorias de Jogos</h1>
            <p class="conteudo-principal-paragrafo">Gêneros de jogos registrados no site</p>
            <ul class="conteudo-principal-lista-jogos">
                {% for category in categories %}
                    <div class="conteudo-principal-lista-jogos-categoria-div">
                        <p class="conteudo-principal-lista-jogos-categoria-titulo">{{ category.replace('-', ' ').title() }}</p>
                        <ul class="conteudo-principal-lista-jogos-jogo">
                            {% for game in games_categories[category] %}
                                <li><a href="/categorias/{{ game }}" class="conteudo-principal-lista-jogos-jogo-opcao">{{ game }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </ul>
        </section>

        <section class="conteudo-secao-secundaria">
            <div class="conteudo-secao-secundaria-div">
                <a href="/" class="conteudo-secao-secundaria-div-botao">Voltar</a>
                <p class="conteudo-secao-secundaria-div-paragrafo">Retornar à página principal</p>
            </div>
        </section>
    </main>

    <footer class="rodape">
        <h1 class="rodape-titulo"><strong>Musindie</strong> - Sua biblioteca musical de jogos independentes</h1>
        <p class="rodape-texto">Observação: <strong>"Musindie"</strong> é um site desenvolvido por <a href="https://github.com/DavidOliveira2678/" target="_blank" rel="external" class="rodape-opcao">David Willyam</a> e <a href="https://github.com/klarisse90" target="_blank" rel="external" class="rodape-opcao">Klarisse Maria</a>, alunos do IFPE - Campus Paulista, como projeto para a matéria de <em>Introdução à Programação</em>, lecionada pelo professor <a href="https://github.com/rodrigoclira" target="_blank" rel="external" class="rodape-opcao">Rodrigo Lira</a>.</p>
    </footer>
</div>

</body>
</html>