<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musindie - Categorias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='categorias.css') }}">
    </head>
<body>
    <header class="cabecalho">
        <img class="cabecalho-imagem" src="{{ url_for('static', filename='images/foto-p.png') }}" alt="logo do Musindie">
        <nav class="cabeçalho-menu">
            <a class="cabecalho-menu-opcao" href="https://github.com/DavidOliveira2678/Musindie.git" target="_blank" rel="external">Repositório do GitHub</a>
            <a class="cabecalho-menu-opcao" href="/" target="_self">Página inicial</a>
            <a class="cabecalho-menu-opcao" href="/cadastro" target="_self" rel="external">Cadastro</a>
        </nav>
    </header>

<div class="pagina">
    <main class="conteudo">
        <h1>Categorias de Jogos</h1>
        <p>Gêneros de jogos registrados no site</p>

        <ul class="lista-Jogos">
            {% for category in categories %}
                <li>
                    <p>{{ category.replace('-', ' ').title() }}</p>
                    <ul>
                        {% for game in games_categories[category] %}
                            <li><a href="/jogos/{{ game }}">{{ game }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>

        <a href="/">Voltar</a>
    </main>

    <footer class="rodape">
        <h1 class="rodape-titulo"><strong>Musindie</strong> - Sua biblioteca musical de jogos independentes</h1>
        <p class="rodape-texto">Observação: <strong>"Musindie"</strong> é um site desenvolvido por <a href="https://github.com/DavidOliveira2678/" target="_blank" rel="external" class="rodape-opcao">David Willyam</a> e <a href="https://github.com/klarisse90" target="_blank" rel="external" class="rodape-opcao">Klarisse Maria</a>, alunos do IFPE - Campus Paulista, como projeto para a matéria de <em>Introdução à Programação</em>, lecionada pelo professor <a href="https://github.com/rodrigoclira" target="_blank" rel="external" class="rodape-opcao">Rodrigo Lira</a>.</p>
    </footer>
</div>

</body>
</html>