<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Musindie</title>
    </head>

    <body>
        <h1>"Este site é independente ai dento nem amo"</h1>
        <p>"Hey, lets go to the beach! Hey, say! What they gonna say? Hey lets go to the beach, Nicki. Nicki Minaaaaaaaj... sssssssssssaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnssssssssssssssssssssssssssssssssssssssssssssss"</p>
    </body>
</html>