<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musindie - Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho-imagem" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo do Musindie">
        <nav class="cabeçalho-menu">
            <a class="cabecalho-menu-opcao" href="https://github.com/DavidOliveira2678/Musindie.git" target="_blank" rel="external">Repositório do GitHub</a>
            <a class="cabecalho-menu-opcao" href="/categorias" target="_self">Categorias de jogos</a>
            <a class="cabecalho-menu-opcao" href="/" target="_self" rel="external">Página inicial</a>
        </nav>
    </header>

<div class="pagina">
    <main class="conteudo">
        <section class="conteudo-secao-principal">
            <h1 class="conteudo-secao-principal-titulo">Cadastro</h1>
            <p class="conteudo-secao-principal-paragrafo">Cadastre o seu e-mail para receber atualizações sobre qualquer novidade referente ao Musindie!</p>
            <form action= "/register"  method="POST" class="conteudo-secao-principal-formulario">
            <input type="email" placeholder="Digite seu e-mail" name= "email" class="conteudo-secao-principal-formulario-input">
            <button class="conteudo-secao-principal-botao" type="submit">Cadastrar</button>
            </form>
        </section>

        <section class="conteudo-secao-secundaria">
            <a href="/" class="conteudo-secao-secundaria-botao">Voltar</a>
            <p class="conteudo-secao-secundaria-paragrafo">Retornar à página inicial</p>
        </section>
    </main>

    <footer class="rodape">
        <h1 class="rodape-titulo"><strong>Musindie</strong> - Sua biblioteca musical de jogos independentes</h1>
        <p class="rodape-texto">Observação: <strong>"Musindie"</strong> é um site desenvolvido por <a href="https://github.com/DavidOliveira2678/" target="_blank" rel="external" class="rodape-opcao">David Willyam</a> e <a href="https://github.com/klarisse90" target="_blank" rel="external" class="rodape-opcao">Klarisse Maria</a>, alunos do IFPE - Campus Paulista, como projeto para a matéria de <em>Introdução à Programação</em>, lecionada pelo professor <a href="https://github.com/rodrigoclira" target="_blank" rel="external" class="rodape-opcao">Rodrigo Lira</a>.</p>
    </footer>
</div>

</body>
</html>